---
import Badge from '../components/Badge.astro'
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<section class="w-full lg:w-[740px] mx-auto py-44">
			<h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-4">
				Hey, I'm Yeison <a
				  href="https://www.linkedin.com/in/yeison-duvan-suarez-rios-06513312a/"
					target="_blank"
					rel="noopener"
					class="flex justify-center items-center"
				>
					<Badge>Avaiable for hire</Badge>
				</a>
			</h1>
			<h2 class="text-2xl text-wrap">
				<span>+15 years of experience. </span>
				<span class="text-yellow-200/90">Senior Full Stack ASP.NET Developer. </span>
				<span class="text-red-200/90">From 🇨🇴, living in Canada 🇨🇦.</span>
				<span class="opacity-80">Specialized in platform .NET</span>
			</h2>
	</section>
	</main>
